.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90vh;
}

.chat-box {
  width: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vh;
}

.chat-history {
  overflow-y: auto;
  margin-bottom: 20px;
  height: 100%;
}

.chat-message {
  margin-bottom: 10px;
  margin: 0rem 1rem 0rem 1rem;
  
}

.bubble {
  padding: 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 75%;
 
}

.user-query {
  align-self: flex-start;
  background-color: #2eb3c2;
  border-top-left-radius: 0;
  width: 60%;
  overflow: clip;
  
}

.chat-response {
  align-self: flex-end;
  background-color: #7553ff;
  border-top-right-radius: 0;
  margin-left: auto;
  width: 70%;
 
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  position:fixed;
  
  bottom: 25px;
  background-color: white;
  border-radius: 30px;
  /* width: 100%; */
  padding: 0 10px;
}


.chat-input :focus {
  outline: none;
}



.sendButton{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 10px;
  border: none;
}



.icon {
  background-color: rgb(255, 255, 255);
  size: 20px;
  fill: black;
  width: 30px;
  cursor: pointer;
}



.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.inputruta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  height: 5vh;
  border: none;
  font-size: 20px !important;
  padding: 10px 0;
  overflow: hidden;
  resize: none;
}

.loader {
  width: 32px;
  height: 72px;
  display: inline-block;
  left: 5px;
  position: relative;
  border: 2px solid #fff;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
  color: #ff3d00;
  border-radius: 0 0 4px 4px;
  transform: perspective(140px) rotateX(-45deg);
}

@keyframes animloader {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -70px inset;
  }
}

.game-settings-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  fill: var(--black-color);
}
.game-settings-icon:hover {
  animation: spinn 2s linear infinite;
}
@keyframes spinn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DESKTOP */
@media (min-width: 400px){
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80vh;
    padding-bottom: 60px;
  }

  .chat-input {
    display: flex;
    align-items: center;
    position:fixed;
    
    bottom: 25px;
    background-color: white;
    border-radius: 30px;
    padding: 0 10px;
    width: 40%;
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .inputruta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    height: 5vh;
    border: none;
    font-size: 20px !important;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    resize: none;
    
    
  }

  .chat-box {
    width: 100%;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .sendButton{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px;
    border: none;
    width: 30px;
    
  }

}